<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="TestCentric V2 Feed" value="https://www.myget.org/F/testcentric/api/v2/" />
	<add key="TestCentric MyGet Feed" value="https://www.myget.org/F/testcentric/api/v3/index.json" />
  </packageSources>
</configuration>