<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="myget-nunit" value="https://www.myget.org/F/nunit/api/v3/index.json" />
		<add key="myget-testcentric" value="https://www.myget.org/F/testcentric/api/v3/index.json" />
		<add key="project" value="packages" />
	</packageSources>
	<packageSourceMapping>
		<!-- Default package source -->
		<packageSource key="nuget">
			<package pattern="*" />
		</packageSource>
		<packageSource key="myget-nunit">
			<!-- Temporary until versions we use are on nuget.org -->
			<package pattern="NUnit.Common" />
			<package pattern="NUnit.Engine" />
			<package pattern="NUnit.Engine.Api" />
			<package pattern="NUnit.Extensibility" />
			<package pattern="NUnit.Extensibility.Api" />
			<package pattern="NUnit.Extension.Net462PluggableAgent" />
			<package pattern="NUnit.Extension.Net80PluggableAgent" />
			<package pattern="NUnit.Extension.Net90PluggableAgent" />
			<package pattern="NUnit.Extension.Net10PluggableAgent" />
		</packageSource>
		<packageSource key="myget-testcentric">
			<!-- We are using a development build of the recipe, only found on myget -->
			<package pattern="TestCentric.Cake.Recipe" />
		</packageSource>
		<!-- Here we list every package created by this project, so it can be installed for testing -->
		<packageSource key="project">
			<package pattern="TestCentric.GuiRunner" />
		</packageSource>
	</packageSourceMapping>
</configuration>
