@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        Tuple.Create("Testcentric Home", "https://testcentric.github.io"),
        Tuple.Create("About TestCentric GUI", Context.GetLink("index.html")),
        //Tuple.Create("Blog", Context.GetLink("blog")),
        Tuple.Create("Documentation", Context.GetLink("docs")),
        //Tuple.Create("Reference", Context.GetLink("dsl")),
        //Tuple.Create("Addins", Context.GetLink("addins")),
        //Tuple.Create("API", Context.GetLink("api")),
        //Tuple.Create("FAQ", Context.GetLink("faq")),
        Tuple.Create("<i class=\"fa fa-github\"></i> Source Code", "https://github.com/TestCentric/testcentric-gui")
    };
    foreach(Tuple<string, string> p in pages)
    {
        string active = Context.GetLink(Document).StartsWith(p.Item2) ? "active" : null;
        <li class="@active"><a href="@p.Item2">@Html.Raw(p.Item1)</a></li>
    }
}