Title: GUI Elements
Description: Describes <a href="Features">the principal elements</a> of the TestCentric GUI.
Order: 3
---

<p>Describes the principal elements of the TestCentric GUI.</p>

@Html.Partial("_ChildPages")
