Title: TestCentric Runner
Description: TestCentric Runner is a GUI test runner aimed at eventually supporting a range of .NET testing frameworks. As of the current 1.4.0 release, it supports NUnit tests.
Order: 1
---
@foreach(IDocument child in Model.DocumentList(Keys.Children).OrderBy(x => x.Get<int>(DocsKeys.Order, 1000)))
{
    <h2>@(child.String(Keys.Title))</h2>
    if(child.ContainsKey(DocsKeys.Description))
    {
        <p>@Html.Raw(child.String(DocsKeys.Description))</p>
    }

    @Html.Partial("_ChildPages", child)
}
