Title: TestCentric Runner
Description: TestCentric Runner is a GUI test runner aimed at eventually supporting a range of .NET testing frameworks. As of the current 1.4.0 release, it supports NUnit tests.
Order: 1
---

<p>TestCentric Runner is a GUI test runner for the .NET world. The current release (version 1.4.0)
   supports the NUnit 3 and NUnit V2 test frameworks. Future releases will eventually support
   other frameworks.</p>

<p>The current release is similar in appearance of the NUnit V2 GUI Runner,
   but has internal modifications to allow it to run NUnit 3 tests.</p>

@Html.Partial("_ChildPages")
